[Unit]
Description=Check MeshDirect health every 30 seconds

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true
Unit=meshdirect-healthguard.service

[Install]
WantedBy=timers.target
